@model AddFolderViewModel

<div>
    <form id="AddFolderId" onsubmit="return false;">
        <input asp-for="UserId" value="@Model.UserId" hidden="hidden" />
        <div>
            <p>
                <label>Назва:</label>
                <input asp-for="Name" type="text" placeholder="папка/фільми/рецепти і тд..." />
            </p>
        </div>
        <div>
            <button onclick="AddFolder()">Додати</button>
        </div>
    </form>
</div>

<script>
    function AddFolder() {
        debugger;
        var data = $('#AddFolderId').serialize();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AddFolder", "Profile")',
            data: JSON.parse(JSON.stringify(data)),
            success: function (response){
                $("#nav").html(response);
            },
            error: function (data) {
                Swal.fire({
                    title: 'Інформація',
                    text: data,
                    icon: 'error',
                    confirmButtonText: 'Окей'
                })
            }
        });
    }
</script>