<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <script src="~/js/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>

    <header class="header-main">
        <!--<img src="/logo.png" alt="Логотип">-->
            <!-- Меню -->
            <ul>
                <li><a asp-controller="Home" asp-action="ContactInformation">Контактна інформація</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li><a asp-controller="Account" asp-action="Registr">Регистрація</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Вхід</a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        @(User.Identity.Name)
                        <ul>
                            <li><a asp-controller="Profile" asp-action="Profile">Profile</a></li>
                            <li><a asp-controller="Profile" asp-action="Settings">Settings</a></li>
                            <li><a asp-controller="Account" asp-action="Lagout">Logout</a></li>
                        </ul>
                    </li>
                }
            </ul>
    </header>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
