@model ShowFolderList


@foreach (var folder in Model.Folders)
{
    <div>
        <input id="folder-@folder.Id" type="button" onclick="showFolder(@folder.Id)" value="@folder.Name">
    </div>
}
<input type="button" onclick="showHide()" value="Новая папка">
<br />
<div id="addFolder" style="display: none">
    @await Html.PartialAsync("_AddFolderPartial", new AddFolderViewModel() { UserId = Model.UserId })
</div>
   