@model ProfileViewModel
@{
    ViewBag.Title = "profile.cshtml";
    ViewBag.UserName = Model.UserName;
}

<nav id="nav">
    @foreach (var folder in Model.Folders)
    {
        <div>
            <input id="folder-@folder.Id" type="button" onclick="showFolder(@folder.Id)" value="@folder.Name">
        </div>
    }
    <input type="button" onclick="showHide()" value="Новая папка"><br />
    <div id="addFolder" style="display: none">
        @await Html.PartialAsync("_AddFolderPartial", new AddFolderViewModel() { UserId = Model.UserId })
    </div>
</nav>

<section id="content">
</section>


<script type="text/javascript">
    function showFolder(id) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ViewFolder", "Profile")',
            data: { folderId: id },
            success: function (resContent) {
                $("#content").html(resContent);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function showHide() {
        var x = document.getElementById("addFolder");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>

