@model ProfileViewModel
@{
    ViewBag.Title = "profile.cshtml";
    ViewBag.UserName = Model.UserName;
}

<nav id="nav">
    @await Html.PartialAsync("_ShowListFolderPartial", new ShowFolderList() { Folders = Model.Folders, UserId = Model.UserId})
</nav>

<section id="content">
    <span>оберіть папку(✿◠‿◠)</span>
</section>


<script type="text/javascript">
    function showFolder(id) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ViewFolder", "Profile")',
            data: { folderId: id },
            success: function (resContent) {
                $("#content").html(resContent);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    function showHide() {
        var x = document.getElementById("addFolder");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>

