@model ProfileViewModel
@{
    ViewBag.Title = "Profile/index.cshtml";
}

<nav class="nav">
    @foreach (var folder in Model.Folders)
    {
        <div>
            <input id="folder-@folder.Id" type="button" onclick="showFolder(@folder.Id)" value="@folder.Name">
        </div>
    }
    <input type="button" onclick="showHide()" value="Новая папка"><br />
    <div id="addFolder" style="display: none">
        @await Html.PartialAsync("_AddFolderPartial", new AddFolderViewModel() { UserId = Model.UserId })
    </div>
</nav>

<section class="section">
    <div id="demo"></div>
</section>
<aside class="aside">&#60;Aside&#62;</aside>
<footer class="footer">&#60;Footer&#62;</footer>




<script type="text/javascript">
    function showFolder(id) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("ViewFolder", "Profile")',
                data: { folderId: id },
                success: function (response){
                    $("#demo").html(response);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
    }

    function showHide() {
        var x = document.getElementById("addFolder");
        if (x.style.display === 'none') {
            x.style.display = 'block';
        } else {
            x.style.display = 'none';
        }
    }
</script>

