
@{ViewBag.Title = "контактная інформація";}

<div class="second-frame">
    <p>Telegram, Viber - (050)82-68-200</p>
    <p>GitHub - <a href="https://github.com/Bonislavsky">link</a></p>
    <p>LinkedIn - <a href="https://www.linkedin.com/in/sergei-bonislavskyi-7544a3228/">link</a></p>
    <p>Dou - <a href="https://dou.ua/users/bonsserg/">link</a></p>
    <p>djinni - <a href="https://djinni.co/q/9e5829c148/">link</a></p>
</div>